body {
  font-family: "Roboto", sans-serif;
  background-color: #faf3dd;
}

/* 22:10 youtube */

:root {
  --primary: #ea40a4;
  --top-priority: var(--primary);
  --low-priority: #3a82ee;
  --light: #eee;
  --dark: #313154;
  --grey: #888;
  --danger: #ff5b57;
  --green: #c8d5b9;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --top-priority-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
  --low-priority-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

/* input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
} */

input {
  font-size: 1rem;
}

body {
  color: var(--dark);
}

h2,
.username {
  font-size: 2rem;
}

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.todo-sub-title {
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 700;
  margin: 1rem 0;
}

.greeting {
  background-color: var(--green);
}

.heading {
  padding: 1.5rem;
}

.todo-container {
  margin: 25px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-content {
  border-radius: 5px;
  width: 50vw;
  padding: 15px 0px;
}

.todo-list-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 0px 10px;
}

.todo-content {
  flex: 1 1 0%;
}

input[type="text"] {
  text-indent: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  display: none;
}

button {
  cursor: pointer;
}

.priority-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.priority-options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.add-todo {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.2rem;
}

.add-todo input {
  width: 100%;
}

.priority {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.low.priority {
  border: 2px solid var(--low-priority);
  box-shadow: var(--low-priority-glow);
}

.top.priority {
  border: 2px solid var(--top-priority);
  box-shadow: var(--top-priority-glow);
}

.priority::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--low-priority);
  box-shadow: var(--low-priority-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.top.priority::after {
  background-color: var(--top-priority);
  box-shadow: var(--top-priority-glow);
}

input:checked ~ .priority::after {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.priority-label {
  padding-top: 0.5rem;
  font-weight: 700;
}

.add-todo-btn {
  font-size: 1.125rem;
  padding: 1rem;
  width: 30%;
  background-color: var(--green);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: none;
}

.add-todo-btn-container {
  margin: 1rem 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-todo-btn:hover {
  opacity: 0.7;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
